<html xmlns:th="http://www.thymleaf.org">

<head>
<title>Employee List</title>
<link rel="stylesheet" th:href="@{/css/demo.css}">
</head>

<body>

	<h3>Employee Directory</h3>
	<hr>
	<table border="1">
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="theEmployee : ${employee}">
				<td th:text="${theEmployee.firstName}" />
				<td th:text="${theEmployee.lastName}" />
				<td th:text="${theEmployee.email}" />
			</tr>
		</tbody>

	</table>



</body>

</html>