<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Load properties file -->
    <context:property-placeholder location="coachDetails.properties"/>
    
    <bean id="myFortune" class="com.practice.spring.MyFortuneService"></bean>
    
    <!--Inject dependencies through setter method  -->
 	<bean id="myTrackCoach" class="com.practice.spring.TrackCoach">
 	<property name="myFortune" ref="myFortune"></property>
 	<property name="coachName" value="${demo.coachName}"></property>
 	<property name="coachEmail" value="${demo.coachEmail}"></property>
 	</bean>
 	
 	<!-- Inject dependencies through constructor -->
 	<bean id="myBaseBallCoach" class="com.practice.spring.BaseballCoach">
    <constructor-arg ref="myFortune"/>
    </bean>

</beans>





